nav {
    position: fixed;
    top: 0; left: 0;
    z-index: 1;
    height: var(--nav-height);
    width: 100%;
    display: flex;
    color: var(--color-theme);
    background: var(--color-glass-white);
    backdrop-filter: blur(5px);
}
nav .selected {
    border-top: 0.5rem solid var(--color-theme);
    border-bottom: 0.6rem solid transparent;
}
nav .mobile {
    display: none;
}

#nav-menu {
    justify-content: right;
    align-items: center;
}
#nav-menu img {
    height: 2rem;
}

#nav-logo {
    margin: 0.5rem auto;
    padding-left: var(--side-padding);
    padding-right: 3rem;
}
#nav-logo img {
    height: 100%;
}

#nav-center {
    display: flex;
    justify-content: space-around;
    flex-grow: 2;
    gap: 1rem;
    width: 20%;
}
#nav-center > a {
    /* ALign text to vertical center */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    height: 100%;
    text-decoration: none;
}

#nav-lang {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 3rem;
    padding-right: var(--side-padding);
}

#nav-lang span {
    font-size: 1.5rem;
    cursor: pointer;
}
#nav-lang > span {
    display: flex;
    justify-content: center;
}
#nav-lang > span::after {
    display: block;
    content: '◀';
    width: 1rem; /* To prevent the content "push" the flag when being opened */
    margin-left: 1rem;
}
#nav-lang > span.open::after { content: '▼'; }

#nav-lang ul {
    z-index: 10;
    position: fixed;
    right: 0;
    top: var(--nav-height);
    margin: 0;
    padding: 0.5rem;
    border-radius: 0 0 0 var(--border-radius);
    background: var(--color-glass-white);
    backdrop-filter: blur(5px); /* TODO: does not work */
}
#nav-lang li { margin: 0.5rem; }
#nav-lang li a { text-decoration: none; }
#nav-lang li span { margin-right: 0.5rem; }
#nav-lang li::marker { content: none; }

@media screen and (max-width: 60rem) {
    nav .mobile {
        flex: 1 1 0;
        display: block;
    }

    #nav-menu {
        display: flex;
    }

    #nav-logo {
        padding-right: var(--side-padding) !important;
    }

    #nav-center {
        display: none;
    }

    #nav-lang {
        display: none;
    }
}