* {
    box-sizing: border-box;

    /* Config vars */
    font-family: 'Be Vietnam Pro', sans-serif;
    --border-radius: 0.5rem;
    --nav-height: 3rem;

    /* Color vars */
    --color-theme: #003399;
    --color-theme-light: #0055ff;
    --color-light: #fcf0ce;
    --color-bright: #ffbb33;
    --color-gray: #edf0f3;
}

/* ------------------------------------------------------------------Elements */
a {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
    /* Additional link @ a.btn */
}

a.btn, button {
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    padding: var(--border-radius);
    background-color: var(--color-bright);
    color: var(--color-light);
    cursor: pointer;
    font-size: 1rem;
}
a.btn.dark, button.dark {
    background-color: var(--color-theme-light);
}

form label {
    display: block;
    margin: 0.5rem 0 0.25rem;
    color: var(--color-theme-light);
    font-weight: bold;
}
form input, form textarea {
    width: 100%;
    border: 2px solid var(--color-theme);
    border-radius: var(--border-radius);
    background-color: white;
}
form button {
    margin-top: 1rem;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

input, textarea {
    font-size: 1rem;
}

textarea {
    /* Put setting in input, textarea for consistency */
    resize: none;
}

/* --------------------------------------------------------------------Layout */
body { margin: 0; }

nav {
    position: fixed;
    top: 0; left: 0;
    height: var(--nav-height);
    width: 100%;
    display: flex;
    color: var(--color-theme);
    background: linear-gradient(to right, #ffffffcc, #ffffffff);
    backdrop-filter: blur(5px);
}
nav > div {
    display: flex;
    justify-content: space-around;
    width: 20%;
}
nav > div > img { height: 100%; }
#nav-logo { padding: 0.5rem; }
#nav-center { flex-grow: 2; }
#nav-center > a {
    /* ALign text to vertical center */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    height: 100%;
    text-decoration: none;
}

main { margin-top: var(--nav-height); }

main > h1 {
    text-align: center;
    color: var(--color-theme);
}
main > p {
    margin: 1rem 5rem;
    text-align: center;
}

footer {
    background-color: var(--color-theme);
    display: flex;
    flex-direction: column;
    color: white;
}
footer > div {
    display: flex;
    justify-content: space-around;
}
footer > div > ul {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}
footer > div > ul > li {
    margin-left: 0;
    text-indent: 0;
}
footer > div > form {
    flex: 0 1 20rem;
    padding-top: 1rem;
}
footer > p {
    text-align: center;
}

/* -------------------------------------------------------------------Classes */
div.banner {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div.banner > div { padding: 5rem; }
div.banner h1,
div.banner h2 { color: var(--color-light); }

/* Banner with columns */
div.banner.col { flex-direction: column; }
div.banner.col h1,
div.banner.col h2,
div.banner.col h3 { text-align: center; }
div.banner.col > div.banner { padding: 0; }
div.banner.col > div.banner > div {
    /* Align center */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* full-screen banner */
div.banner.full { height: 100vh; }
div.banner.full h1,
div.banner.full h2 {
    text-align: center;
    border-radius: var(--border-radius);
    margin: 0.5rem;
    padding: 0.25rem;
    background-color: var(--color-theme);
}

/* Div with two-column layout */
div.divCol {
    /* Section with column layout */
    display: flex;
    flex-wrap: wrap;
}
.divCol.reverse { flex-direction: row-reverse; }
.divCol > div { flex: 1 1 10rem; }

.divCol > div.img {
    background-size: cover;
    background-position: center;
}
.divCol > div.text {
    padding: 1rem;
    align-self: center;
}
.divCol > .noPadding { padding: 0; }
.divCol > .right {
    /* Allign items to the right */
    text-align: right;
}

.divCol.divBox {
    /* Surrounding divBox elements */
    padding: 0 5rem;
    gap: 1rem;
}
.divCol > div.divBox {
    /* Create a box for contents */
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--color-gray);
}
.divBox h1, .divBox h2 {
    color: var(--color-theme);
}