* {
    box-sizing: border-box;

    /* Config vars */
    font-family: 'Be Vietnam Pro', sans-serif;
    --border-radius: 0.5rem;
    --nav-height: 3rem;

    /* Color vars */
    --color-theme: #003399;
    --color-light: #fcf0ce;
    --color-bright: #ffbb33;
}

/* ------------------------------------------------------------------Elements */
a {
    color: inherit;
    /* Additional link @ a.btn */
}

a.btn, button {
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    padding: var(--border-radius);
    background-color: #ffbb33;
    color: var(--color-light);
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

/* --------------------------------------------------------------------Layout */
body {
    margin: 0;
}
nav {
    position: fixed;
    top: 0; left: 0;
    height: var(--nav-height);
    width: 100%;
    display: flex;
    color: #ffffff;
    background-color: var(--color-theme);
}
nav > div {
    display: flex;
    justify-content: space-around;
    width: 20%;
}
nav > div > img {
    height: 100%;
}
nav > div.center {
    flex-grow: 2;
}
nav > div.center > a {
    /* ALign text to vertical center */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    height: 100%;
    text-decoration: none;
}

main {
    margin-top: var(--nav-height);
}

/* -------------------------------------------------------------------Classes */
div.banner {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div.banner > div {
    padding: 5rem;
}
div.banner h1,
div.banner h2 {
    color: var(--color-light);
}

/* Banner with columns */
div.banner.col {
    flex-direction: column;
}
div.banner.col h1,
div.banner.col h2,
div.banner.col h3 {
    text-align: center;
}
div.banner.col > div.banner {
    padding: 0;
}
div.banner.col > div.banner > div {
    /* Align center */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* full-screen banner */
div.banner.full {
    height: 100vh;
}
div.banner.full h1,
div.banner.full h2 {
    text-align: center;
    border-radius: var(--border-radius);
    margin: 0.5rem;
    padding: 0.25rem;
    background-color: var(--color-theme);
}