* {
    box-sizing: border-box;
    --nav-height: 3rem;
    --color-theme: #003399;
    --color-light: #fcf0ce;
    /* Universal font */
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* ------------------------------------------------------------------Elements */
a {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

/* --------------------------------------------------------------------Layout */
body {
    margin: 0;
}
nav {
    position: fixed;
    top: 0; left: 0;
    height: var(--nav-height);
    width: 100%;
    display: flex;
    color: #ffffff;
    background-color: var(--color-theme);
}
nav > div {
    display: flex;
    justify-content: space-around;
    width: 25%;
}
nav > div > img {
    height: 100%;
}
nav > div.center {
    width: 50%;

}
nav > div.center > a {
    /* ALign text to vertical center */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    height: 100%;
    text-decoration: none;
}

main {
    margin-top: var(--nav-height);
}

/* -------------------------------------------------------------------Classes */
div.banner {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div.banner > div {
    padding: 5rem;
}
div.banner h1,
div.banner h2 {
    color: var(--color-light);
}

div.banner.full {
    /* full-screen banner */
    height: 100vh;
}
div.banner.full h1,
div.banner.full h2 {
    text-align: center;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.25rem;
    background-color: var(--color-theme);
}