extend /layout/standard

block head
    style.
        main {
            padding-top: var(--nav-height);
        }

        #img {
            width: 100%;
        }
        #img > img {
            width: 100%;
        }

        .red {
            color: var(--color-red);
        }

        .invite {
            color: var(--color-theme);
        }

block content
    //- Block instead of append to remove header banner
    #img
        img(src="/asset/icon/404.png")
    p.red Rất tiếc, trang bạn muốn truy cập không tồn tại
    p.invite.
        Mời bạn tìm kiếm các thông tin hữu ích từ Brand Doctor:<br>
        <b>Ghé thăm <a href="/trang-chu/">Trang chủ</a> của chúng tôi</b>
    div
        //- Div to remove centering
        p.
            Nếu bạn muốn tìm kiếm các giải pháp cho cá nhân và Doanh nghiệp hãy ghé thăm <a>Giải pháp</a><br>
            Nếu bạn muốn xem các thông tin và kiến thức mới nhất, hãy ghé thăm <a>Tin tức</a> của chúng tôi.<br>
            Nếu bạn muốn trao đổi thêm cùng Brand Doctor, hãy <a>Liên hệ</a> với chúng tôi