extend /layout/standard

//- Entry point

block head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="robots" content="noindex")
    title Brand Doctor Group

block content
    p(lang="vi")
        a(href="trang-chu") Bấm để đi vào trang chủ

    script.
        // script to auto-detect language
        let lang = navigator.language || navigator.userLanguage;
        lang = lang.split('-')[0];

        // find link to navigate to, else get Vietnamese version
        lang = document.querySelector(`body *[lang="${lang}"] a`);
        lang = lang || document.querySelector(`body *[lang="vi"] a`);

        window.location.replace(lang.getAttribute('href'))