extend /layout/standard

append head
    //- Add header content here

append content
    //- Add content here
    //- block content to remove the header

append scripts
    //- Append scripts here

//- Uncomment this to remove float contact
//- block floatContact