extend /layout/standard

append head
    style.
        #form {
            display: flex;
            flex-wrap: wrap-reverse;
            padding: 0;
        }
        #form-pic {
            flex: 0 1 30rem;
            display: flex;
            align-items: end;
            padding-left: var(--side-padding);
            padding-right: 1rem;
            padding-bottom: var(--nav-height);
            background-image: url(/asset/image/contact.jpg);
        }
        #form-pic p {
            color: white;
            font-size: 0.75rem;
            line-height: 1rem;
        }
        #form-form {
            flex: 2 1 60%;
            padding: var(--nav-height) 10%;
            text-align: center;
            background-color: var(--color-gray);
        }
        #form-form form {
            width: 25rem;
            margin: 0 auto;
        }
        #form-form h1 { color: var(--color-theme); }

        #FAQ {
            height: 10rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image:
                linear-gradient(to left, #0055ffe0, #0055ffe0),
                url(/asset/image/banner_bg.jpg);
            color: var(--color-bright);
        }

append content
    #form
        #form-pic
            p.
                Địa chỉ: 87 Đường 14, Phường Linh Chiểu,<br>
                TP. Thủ Đức, TP. Hồ Chí Minh<br>
                Email: branddoctor.info@gmail.com<br>
                Điện thoại: (028) 398 404 12
        #form-form
            h1 Đồng hành cùng Brand Doctor
            p Voluptate sunt eu quis anim ea cillum enim ea labore eu laboris ipsum nostrud enim anim anim est exercitation exercitation eu id velit nostrud eiusmod mollit cupidatat et esse velit
            form
                input(type="text", placeholder="Họ & Tên")
                input(type="text", placeholder="Tên Doanh Nghiệp")
                input(type="email", placeholder="Email")
                input(type="tel", placeholder="Điện thoại")
                textarea(rows="5", placeholder="Nội dung cần tư vấn")
                button GỬI
    #FAQ: h1 FAQ
    p Voluptate sunt eu quis anim ea cillum enim ea labore eu laboris ipsum nostrud enim anim anim est exercitation exercitation eu id velit nostrud eiusmod mollit cupidatat et esse velit
    details
        summary Giải pháp từ Brand Doctor là gì?
        p.
            Voluptate sunt eu quis anim ea cillum enim ea labore eu laboris ipsum nostrud enim anim anim est exercitation exercitation eu id velit nostrud eiusmod mollit cupidatat et esse velit<br>
            Voluptate sunt eu quis anim ea cillum enim ea labore eu laboris ipsum nostrud enim anim anim est exercitation exercitation eu id velit nostrud eiusmod mollit cupidatat et esse velit
    hr
    details
        summary Giải pháp từ Brand Doctor là gì?
        p.
            Voluptate sunt eu quis anim ea cillum enim ea labore eu laboris ipsum nostrud enim anim anim est exercitation exercitation eu id velit nostrud eiusmod mollit cupidatat et esse velit<br>
            Voluptate sunt eu quis anim ea cillum enim ea labore eu laboris ipsum nostrud enim anim anim est exercitation exercitation eu id velit nostrud eiusmod mollit cupidatat et esse velit
    hr
    details
        summary Giải pháp từ Brand Doctor là gì?
        p.
            Voluptate sunt eu quis anim ea cillum enim ea labore eu laboris ipsum nostrud enim anim anim est exercitation exercitation eu id velit nostrud eiusmod mollit cupidatat et esse velit<br>
            Voluptate sunt eu quis anim ea cillum enim ea labore eu laboris ipsum nostrud enim anim anim est exercitation exercitation eu id velit nostrud eiusmod mollit cupidatat et esse velit