<style>
    #banner-contact {
        background-image:
            linear-gradient(to left, #003399e0, #003399e0),
            url(/asset/image/banner_bg.jpg);
        flex-wrap: wrap;
    }
    #banner-contact > div { padding: 0; }

    #banner-contact a::before {
        content: "➡";
        vertical-align: -1.1rem; /* IDK, it just looks middle to me */
        font-size: 5rem;
        color: var(--color-bright);
    }
    #banner-contact a {
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
    }

    #banner-contact p {
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        column-gap: 1rem;
    }
    #banner-contact span {
        text-align: right;
    }

    #banner-contact img {
        width: 25rem;
    }

    @media screen and (max-width: 30rem) {
        #banner-contact img {
            width: 75%;
        }
    }
</style>

<div id="banner-contact" class="banner">
    <div style="flex: 0 1 40rem">
        <h1>Doanh nghiệp bạn cần giải pháp thương hiệu?</h1>
        <a href="/lien-he">Liên hệ cùng chúng tôi</a>
        <p><span>(028) 398 404 12</span><span>branddoctor.info@gmail.com</span></p>
        <p><span>(+84) 963 801 030</span><span>www.branddoctorgroup.com</span></p>
    </div>
    <div class="img">
        <img src="/asset/image/5 level.png">
    </div>
</div>