<style>
    #form-signup {
        padding: 5rem 0 0 0;
        background-color: var(--color-gray);
    }

    #form-signup > h1 {
        margin: 0 var(--side-padding);
        text-align: center;
        color: var(--color-theme);
    }

    #form-signup > iframe {
        display: block;
        width: 100%;
        height: 32rem;
        background-color: var(--color-gray);
    }
</style>

<div id="form-signup">
    <h1>Cùng Brand Doctor khám phá kiến thức</h1>
    <iframe
        src="https://4e294ae5.sibforms.com/serve/MUIFABtwSzUieY0ZixPbo3PTOe1I2hI6hdN3MlJE5_lkmpFlJ7g1_Tjb7c1TPgFpb295F9O8gP3-GK969RTi3qsA8jUbjmMbg0iCbPdBE3W5oTUx53WXGWlIttAXDEjwYHdFP3rCRnEXMUxr39kDILFitvRZg1ScQNSpFhgJDeXmVl5AK3B4YpvTWZcXcVo2EV6xUNG9KE5hafVk"
        frameborder="0"
        scrolling="auto"
        allowfullscreen
    ></iframe>
</div>