<style>
    #form-signup {
        padding: 5rem;
        background-color: var(--color-gray);
    }

    #form-signup form {
        max-width: 20rem;
        margin: auto;
    }

    #form-signup > h1 {
        text-align: center;
        color: var(--color-theme);
    }
</style>

<div id="form-signup">
    <h1>Cùng Brand Doctor khám phá kiến thức</h1>
    <form>
        <label for="form-fullname">Họ & tên</label>
        <input id="form-fullname" type="text" name="fullname">
        <label for="form-email">Email</label>
        <input id="form-email" type="email" name="email">
        <button>ĐĂNG KÝ</button>
    </form>
</div>