extend /layout/standard

append head
    style.
        .banner .desktop {
            flex: 50vw 0 0;
        }

        #co-steps {
            display: flex;
            justify-content: center;
        }
        #co-steps img {
            width: min(100%, 40rem);
        }

        #ev-steps {
            display: flex;
            flex-direction: column;
            border-top: 2px solid var(--color-theme);
            border-bottom: 2px solid var(--color-theme);
            padding: 0;
            margin: 0 var(--side-padding)
        }
        #ev-steps > .top {
            display: flex;
        }
        #ev-steps h2 {
            flex: 1 1 0;
            display: flex;
            justify-content: space-around;
            text-align: center;
            color: var(--color-theme);
            cursor: pointer;
            transition: flex-grow 0.5s;
        }
        #ev-steps h2.select {
            color: var(--color-bright)
        }
        #ev-steps h2:after {
            margin: 0 1rem;
            content: "›";
        }
        #ev-steps h2:hover {
            flex-grow: 1.5;
            font-weight: bolder;
            transition: flex-grow 0.5s;
        }
        #ev-steps p {
            display: none;
            text-align: center;
        }
        #ev-steps .appear {
            display: block;
            animation: movein 1s;
        }

        main > table { padding: 0 var(--side-padding); }

block content
    //- block content to remove the header
    .banner
        .desktop
        div
            h1 Khảo sát SBI
            p Hội đồng Khoa học Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate odio, suscipit inventore nostrum, molestias debitis veritatis expedita, nam cumque rem blanditiis voluptatum dolorum repellat quo earum amet placeat praesentium cum.

    h1 Brand Doctor đồng hành với doanh nghiệp qua nhiều giai đoạn
    #co-steps: img(src="/asset/image/7-steps.jpg", alt="", srcset="")

    h1 Những đối tác đã được khảo sát
    .divCol.divBox
        a.divBox.img
            .img(style="background-image: url(/asset/ecosBDG/ksh.jpg);")
            h2 A company
            p It's role
            p "Tôi tin vào khảo sát"

    h1 Những bước khảo sát
    #ev-steps
        .top
            h2 Tư vấn
            h2 Khảo sát
            h2 Phân tích
            h2 Báo cáo
        .bottom
            p Tìm hiểu doanh nghiệp để tư vấn khảo sát phù hợp
            p Brand Doctor sẽ gửi bản câu hỏi để doanh nghiệp trả lời
            p Hội đồng khoa học sẽ phân tích câu trả lời của doanh nghiệp
            p Brand Doctor sẽ tổ chức một buổi báo cáo kết quả cho doanh nghiệp

    h1 Các khảo sát
    table
        colgroup
            col(style="width: 40%")
            col(style="width: 30%")
            col(style="width: 30%")
        tr
            td.no-border
            th HTNDTH
            th HGT
        tr
            th Số lượng câu hỏi
            td 20
            td 20

append scripts
    script(src="/SBI/ev-steps.js")

//- Uncomment this to remove float contact
//- block floatContact