extend /layout/standard

append head
    <link rel="stylesheet" href="/asset/style/browser.css">

append content
    //- Use the browser system

append scripts
    script(src="/asset/script/browser.js")