extend /layout/standard

append head
    link(rel="stylesheet", href="/asset/style/browser.css")

append content
    .browser-filter
        button.selected.sep(onclick="browserFilter(0)") Tất cả
        button(onclick="browserFilter(1)") Branding
        button(onclick="browserFilter(2)") Kinh doanh
        button(onclick="browserFilter(3)") Thương mại
    .divCol.divBox
        .divBox.img
            .img(style="background-image: url(/asset/ecosBDG/niwaco.png);")
            h2 Nguyễn Khánh Trung
            p.
                Bác sĩ thương hiệu đầu tiên tại Việt Nam.<br>
                Chủ tịch HĐQT Công ty Cổ phần Bác sĩ Thương hiệu.<br>
                Viện trưởng Viện đào tạo Bác sĩ Thương hiệu
    .browser-nav
        a.btn.current(href) 1
        a.btn(href) 2
        a.btn(href) 3