---
layout: standard
include:
    banner: false
---
<link rel="stylesheet" href="/asset/style/browser.css">
<link rel="stylesheet" href="/asset/style/post.css">

<div class="article-title banner">
    <div>
        <p>{{ page.tag }}</p>
        <h1>{{ page.title }}</h1>
        <p>{{ page.content | split: " " | size | divided_by: 200 }} phút đọc</p>
    </div>
    <div>
        <img src="{{ page.thumbnail }}">
    </div>
</div>

<section>
    <div>
        <!-- metadata will go here -->
        <h3>{{ page.author }}</h3>
        <p>{{ page.date | split: " " | first }}</p>
        <aside>
            <h2>Nội dung</h2>
        </aside>
    </div>

    <!-- Unescaped content because the content already has HTML -->
    <article>
        {{ content }}
        <hr>
        <p>Chia sẻ nếu bạn thấy hay:</p>
        <div class="fb-like"
            data-href="https://www.facebook.com/BrandDoctorGroup"
            data-width=""
            data-layout="button_count"
            data-action=""
            data-size="large"
            data-share="true">
        </div>
    </article>
</section>

{% include banner-contact.html%}

<h1>Bài viết cùng chủ đề</h1>
<div class="browser-list">
    {% assign count = 3 %}
    {% for post in site.related_posts %}
        {% if post.tag == page.tag %}
            {% include post-preview.html post = post %}
            {% assign count = count | minus: 1 %}
        {% endif %}
        {% if count == 0 %}
            {% break %}
        {% endif %}
    {% endfor %}
</div>

<a class="browser-return" href="../">Khám phá toàn bộ nội dung</a>

{% include brevo-form-signup.html %}

<script src="/asset/script/article.js"></script>
