extend /layout/standard

block head
    <link rel="stylesheet" href="/asset/style/browser.css">

append content
    .browser-filter
        <button onclick="browserFilter(this)" class="selected sep">Tất cả</button>
        <button onclick="browserFilter(this)">Sự kiện nổi bật</button>
        <button onclick="browserFilter(this)">Bí quyết kinh doanh</button>
        <button onclick="browserFilter(this)">Kiến thức thương hiệu</button>
        <button onclick="browserFilter(this)">Thị trường hôm nay</button>

    .browser-list


    .browser-nav